  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 1% 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }
  
  
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 10%;
    width: 100%;
    box-sizing: border-box;
    margin: 0% 3%;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-weight: 600;
    font-size: clamp(12px, 2vw, 13px);
    transition: color 0.3s ease, font-weight 0.3s ease;
    width: 10%;
    text-align: center;
  }
  
  .nav-link:hover {
    color: #AC05FF;
    font-weight: 700;
    opacity: 1;
  }
  
  .get-started-btn {
    background-color: #AC05FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: clamp(12px, 2vw, 13px);
    min-height: 24px;
    transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
    text-align: center;
    padding: 5% 10%;
    margin: 0 2%;
    white-space: nowrap
  }
  
  .get-started-btn:hover {
    background-color: #C20CFF;
    font-weight: 700;
  }
  